<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div class="book-grid">
  <div class="container">
    <% @sections.each do |book| %>
      <div class="book-item">
        <div class="book-portrait">
          <img src="<%= book[:photo_link] %>" alt="Book Cover">
          <div class="portrait-glow"></div>
        </div>
        <div class="book-text">
          <h3><%= book[:section] %></h3>
          <p><%= book[:writer] %></p>
        </div>
        <div class="book-actions">
          <a href="<%= book[:link] %>" class="btn btn-primary">Open</a>
          <a href="<%= book[:link] %>" class="btn btn-secondary">Browser</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="assets/script.js"></script>
</body>
</html>